{% extends 'base.html' %} 
{% load static %}
{% block body %} 
{% load bootstrap_icons %}

<br>
<p class="h2-centrado"> ¿Que buscas? </p>
<br>
<div class="container">
    <div class="row no-gutters">
        <!-- Columna 1 -->
        <div class="col-md-6 d-flex flex-column align-items-center">
            {% bs_icon 'pin-map-fill' size='10em' %}
            <br>
            
                <a href="/mapa"type="button" class="btn btn-danger custom-button">Ir al mapa</a>
            
            <br>

            
        </div>
        <!-- Columna 2 -->
        <div class="col-md-6 d-flex flex-column align-items-center">
            {% bs_icon 'book' size='10em' %}
            <br>
            <a href="/informacion"type="button" class="btn btn-danger custom-button">Informacion</a>
            <br>
            
        </div>

    </div>
</div>

<script>
    document.querySelectorAll('.scroll-link').forEach(function (element) {
        element.addEventListener('click', function (e) {
            e.preventDefault(); 
            const targetId = this.getAttribute('href').substring(1); 
            const targetElement = document.getElementById(targetId); 
            if (targetElement) {
                window.scrollTo({
                    top: targetElement.offsetTop,
                    behavior: 'smooth'
                });
            }
        });
    });
</script>


{% endblock %}