{% extends 'base.html' %} 
{% load static %}
{% block body %} 

<div class="container">
    
    <div class="card mb-4">
        <div class="card-body">
            <p class="h2">Política de Privacidad y Cumplimiento de GDPR</h1>
            <p>Sevidis se compromete a proteger la privacidad y los datos personales de nuestros visitantes y usuarios en línea. Cumplimos con el Reglamento General de Protección de Datos (GDPR) de la Unión Europea y otras leyes aplicables de privacidad y protección de datos. Esta política de privacidad tiene como objetivo informarte sobre cómo recopilamos, utilizamos y protegemos tus datos personales.</p>
        
            <p class="h2">Recopilación de Datos Personales</h2>
            <p>Recopilamos información personal de diversas formas, como cuando te registras en nuestro sitio, completas un formulario o interactúas con nuestros servicios en línea. Esta información incluye, entre otros datos, tu nombre, dirección de correo electrónico además de los distintos puntos en el sistema. Solo requeriremos la información exclusivamente necesaria. No guardaremos información sobre tu ubicación</p>

            <p class="h2">Uso de Datos Personales</h2>
            <p>Utilizamos tus datos personales para proporcionarte los servicios y la información que solicitas, para responder a tus preguntas y comentarios, y para mejorar continuamente tu experiencia en nuestro sitio web. No compartiremos tu información con terceros sin tu consentimiento expreso, excepto cuando sea necesario para cumplir con obligaciones legales.</p>

            <p class="h2">Derechos de los Usuarios</h2>
            <p>Tienes derechos en relación con tus datos personales, incluyendo el derecho a acceder, corregir, eliminar o restringir el procesamiento de tus datos. También tienes el derecho a objetar el procesamiento de tus datos y a la portabilidad de tus datos. Si deseas ejercer cualquiera de estos derechos, contáctanos a través de juacabvil@alum.us.es </p>

            <p class="h2">Seguridad de Datos</h2>
            <p>Implementamos medidas de seguridad para proteger tus datos personales contra pérdida, acceso no autorizado y uso indebido. Utilizamos tecnologías seguras para cifrar la transmisión de datos confidenciales.</p>

            <p class="h2">Cambios en la Política de Privacidad</h2>
            <p>Esta política de privacidad estará sujeta a cambios y actualizaciones periódicas. Te recomendamos que revises esta página regularmente para estar al tanto de cualquier cambio en nuestras prácticas de privacidad.</p>

            <p class="h2">Contacto</h2>
            <p>Si tienes alguna pregunta o inquietud sobre nuestra política de privacidad o sobre el procesamiento de tus datos personales, no dudes en contactarnos a través de juacabvil@alum.us.es </p>

            <p class="mt-4">Fecha de última actualización: 25 de septiembre de 2023</p>
    </div>
        </div>

</div>

{% endblock body %} 