{% extends 'base.html' %}
{% load static %}
{% load bootstrap_icons %}

{% block body %}
  <!-- Contenedor principal -->

  <div id="contenedor-principal">
    <a><button type="button" title="Encoger o mostrar panel izquierdo" alt="Encoger o mostrar panel izquierdo" class="btn btn-danger" id="toggle-left-panel"></button></a>

    <!-- Div izquierdo -->
    <div id="div-izquierdo">
      <p class="h2">Ruta accesible</p>
      <br />
      <!-- Inputs de ruta en texto -->
      <a><p class="h2">Origen</p></a>

      <div class="form-group mx-sm-3 mb-2">
        <input type="text" title="Campo para introducir origen de ruta" alt="Campo para introducir origen de ruta" class="form-control" id="origen" placeholder="Ejemplo: Plaza de armas" />
        <div id="origen-suggestions" class="suggestions"></div>
      </div>

      <br />
      <a><p class="h2">Destino</p></a>

      <div class="form-group mx-sm-3 mb-2">
        <input type="text" alt="Campo para introducir origen de ruta" title="Campo para introducir destino de ruta" class="form-control" id="destino" placeholder="Ejemplo: Plaza de españa" />
        <div id="destino-suggestions" class="suggestions"></div>
      </div>
      <br />
      <!-- Modo transporte -->
      <a>
        <label for="modo-transporte" class="h2">Modo de transporte:</label>
        <select class="form-select form-select-lg" title="Seleccione el modo de transporte" alt="Seleccione el modo de transporte" id="modo-transporte">
          <option title="Caminando" alt="Caminando" value="foot">A pie</option>
          <option title="Sobre ruedas por carril bici" alt="Sobre ruedas por carril bici" value="bike">Sobre ruedas</option>
          <option title="En coche" alt="En coche" value="car">En coche</option>
        </select>
      </a>
      <br /><br />
      <a><button id="toggle-instructions" title="Mostrar instrucciones de la ruta" alt="Mostrar instrucciones de la ruta" class="btn btn-danger">Mostrar Instrucciones</button></a>

      <a><button class="btn btn-danger" title="Mostrar la propia ubicacion en el mapa" alt="Mostrar la propia ubicacion en el mapa" id="ubicacion-btn">Mostrar mi ubicación</button></a>

      <div id="instructions-container" style="display: none;">
        <div id="route-instructions"></div>
      </div>

      <br />
      <br />
      <!-- Mostrar puntos checkbox -->
      <input class="form-check-input form-check-input-lg" type="checkbox" id="mostrarPuntosDeInteres" />
      <label class="form-label h4" title="Haga click para mostrar puntos de interés del sistema" alt="Haga click para mostrar puntos de interés del sistema" for="mostrarPuntosDeInteres">Mostrar Puntos de Interés del Sistema</label><br />

      <input class="form-check-input form-check-input-lg" type="checkbox" id="mostrarPuntosDeUsuario" />
      <label class="form-label h4" title="Haga click para mostrar puntos de interés por usuarios" alt="Haga click para mostrar puntos de interés por usuarios" for="mostrarPuntosDeUsuario">Mostrar Puntos de Usuario</label><br />

      <input class="form-check-input form-check-input-lg" type="checkbox" id="mostrarAparcamientos" />
      <label class="form-label h4" title="Haga click para mostrar zonas de aparcamiento reservadas para personas acreditas con minusvalía" alt="Haga click para mostrar zonas de aparcamiento reservadas para personas acreditas con minusvalía" for="mostrarAparcamientos">Mostrar Aparcamientos Para Minusválidos</label><br />
      <br />
      <a><div id="notificaciones"></div></a>

      <div id="opinionesDiv"></div>
    </div>

    <!-- Div derecho -->
    <div id="div-derecho">
      <div id="map" style="height: 800px;"></div>
    </div>
  </div>

  <script>
    // Clave de API de GraphHopper
    var apiKey = 'a6168e30-6ff6-4d0a-a004-e960a9b145fc';
    // CARGA INICIAL MAPA   
        // Mapa vacio
        var map = L.map('map').setView([37.35880525026899, -5.987216388358271], 16);
        var rutaLayer;
        L.tileLayer('https://{s}.tile.openstreetmap.org/{z}/{x}/{y}.png').addTo(map);

        // Capas de puntos
        var puntosDeInteresGroup = L.layerGroup();
        var aparcamientosGroup = L.layerGroup();
        var puntosDeUsuarioGroup = L.layerGroup();

        // Carga de puntos de interes
        var puntosDeInteres = {{ puntos_interes_para_mapa|safe }};
        puntosDeInteres.forEach(function (punto) {
            var latlng = [punto.latitud, punto.longitud];
            var greenMarker = L.ExtraMarkers.icon({
                icon: punto.icono,
                markerColor: punto.color,
                shape: 'circle',
                alt: punto.nombre,
            });
            var marker = L.marker(latlng, { icon: greenMarker });
            marker.bindPopup(punto.popup_content);
            puntosDeInteresGroup.addLayer(marker); 

            marker.on('popupopen', function () {
                var puntoId = punto.id;
                var opiniones = punto.opiniones;
                var opinionesHTML = '';
            
                // Construir el HTML de las opiniones con Bootstrap
                opinionesHTML = '<a><div><p class="h2">Opiniones:</p>';
                opinionesHTML += '<ul class="list-group">';
            
                if (opiniones.length > 0) {
                    opiniones.forEach(function (opinion) {
                        opinionesHTML += '<li class="list-group-item">' + opinion + '</li>';
                    });
                } else {
                    opinionesHTML += '<li class="list-group-item ">Aún no hay opiniones, ¡Añade una!</li>';
                }
                opinionesHTML += '</ul></div></a> </br>';

                opinionesHTML += '<a><div class="form-group">';
                opinionesHTML += '<label for="nueva-opinion" class="h2">Agregar Opinión:</label>';
                opinionesHTML += '<textarea id="nueva-opinion" class="form-control" rows="3" placeholder="Escribe tu opinión"></textarea>';
                opinionesHTML += '</div>';
                opinionesHTML += '<button id="enviar-opinion" class="btn btn-danger">Enviar</button></a>';
            
                
                var opinionesDiv = document.getElementById('opinionesDiv');
                opinionesDiv.innerHTML = opinionesHTML;

                var enviarOpinionBtn = document.getElementById('enviar-opinion');

                enviarOpinionBtn.addEventListener('click', function () {
                    var nuevaOpinion = document.getElementById('nueva-opinion').value;
                    var puntoId = punto.id;
                    var puntoTipo = 'punto_de_interes'; 

                    // Realizar una solicitud POST al servidor para crear la opinión
                    var xhr = new XMLHttpRequest();
                    xhr.open('POST', '/procesar_opinion/', true); // Ajusta la URL según tu configuración
                    xhr.setRequestHeader('Content-Type', 'application/x-www-form-urlencoded');
                    xhr.onload = function () {
                        var notificacionesDiv = document.getElementById('notificaciones');
                        var notificacion = document.createElement('div');
                        notificacion.className = 'alert';
                        if (xhr.status === 200) {
                            var response = JSON.parse(xhr.responseText);
                            if (response.status === 'success') {
                                notificacion.className += ' alert-success';
                                notificacion.textContent = 'Opinión creada con éxito';
                            } else {
                                notificacion.className += ' alert-danger';
                                notificacion.textContent = 'Error al crear la opinión: ' + response.message;
                            }
                        } else {
                            notificacion.className += ' alert-danger';
                            notificacion.textContent = 'Error al crear la opinión: ' + response.message;
                        }
                        notificacionesDiv.appendChild(notificacion);
                        setTimeout(function() {
                            notificacionesDiv.removeChild(notificacion);
                        }, 10000);
                    };
                    
                    var data = 'texto_opinion=' + nuevaOpinion + '&punto_id=' + puntoId + '&punto_tipo=' + puntoTipo;
                    xhr.send(data);
                });
            });
        });

        // Carga de puntos de usuario
        var puntosDeUsuario = {{ puntos_usuario_para_mapa|safe }};
        puntosDeUsuario.forEach(function (punto) {
            var latlng = [punto.latitud, punto.longitud];
            var greenMarker = L.ExtraMarkers.icon({
                icon: punto.icono,
                markerColor: punto.color,
                shape: 'circle',
                alt: punto.nombre,
            });
            var marker = L.marker(latlng, { icon: greenMarker });
            if ({{ user_is_authenticated|lower }}) {
                if ({{ user.id }} ===  punto.user ) {
                    punto.popup_content += '<a  href="/nuevo_punto?latitud=' + punto.latitud + '&longitud=' + punto.longitud + '"><button class="btn btn-primary btn-sm"> Editar Punto </button></a></br>';
                    punto.popup_content += '<a  href="/eliminar_punto?id=' + punto.id + '"><button class="btn btn-danger btn-sm"> Eliminar Punto </button></a></br>'  ;
                }
            }
            console.log()
            marker.bindPopup(punto.popup_content);
            puntosDeUsuarioGroup.addLayer(marker);
            marker.on('popupopen', function () {
                var puntoId = punto.id;
                var opiniones = punto.opiniones;
                var opinionesHTML = '';
            
                // Construir el HTML de las opiniones con Bootstrap
                opinionesHTML = '<p class="h2">Opiniones:</p>';
                opinionesHTML += '<ul class="list-group">';
            
                if (opiniones.length > 0) {
                    opiniones.forEach(function (opinion) {
                        opinionesHTML += '<li class="list-group-item">' + opinion + '</li>';
                    });
                } else {
                    opinionesHTML += '<li class="list-group-item ">Aún no hay opiniones, ¡Añade una!</li>';
                }
                opinionesHTML += '</ul> </br>';

                opinionesHTML += '<div class="form-group">';
                opinionesHTML += '<label for="nueva-opinion" class="h2">Agregar Opinión:</label>';
                opinionesHTML += '<textarea id="nueva-opinion" class="form-control" rows="3" placeholder="Escribe tu opinión"></textarea>';
                opinionesHTML += '</div>';
                opinionesHTML += '<button id="enviar-opinion" class="btn btn-danger">Enviar</button>';
            
                
                var opinionesDiv = document.getElementById('opinionesDiv');
                opinionesDiv.innerHTML = opinionesHTML;

                var enviarOpinionBtn = document.getElementById('enviar-opinion');

                enviarOpinionBtn.addEventListener('click', function () {
                    var nuevaOpinion = document.getElementById('nueva-opinion').value;
                    var puntoId = punto.id;
                    var puntoTipo = 'punto_usuario'; 

                    
                    var xhr = new XMLHttpRequest();
                    xhr.open('POST', '/procesar_opinion/', true); 
                    xhr.setRequestHeader('Content-Type', 'application/x-www-form-urlencoded');
                    xhr.onload = function () {
                        var notificacionesDiv = document.getElementById('notificaciones');
                        var notificacion = document.createElement('div');
                        notificacion.className = 'alert';
                        if (xhr.status === 200) {
                            var response = JSON.parse(xhr.responseText);
                            if (response.status === 'success') {
                                notificacion.className += ' alert-success';
                                notificacion.textContent = 'Opinión creada con éxito';
                            } else {
                                notificacion.className += ' alert-danger';
                                notificacion.textContent = 'Error al crear la opinión: ' + response.message;
                            }
                        } else {
                            notificacion.className += ' alert-danger';
                            notificacion.textContent = 'Error al crear la opinión: ' + response.message;
                        }
                        notificacionesDiv.appendChild(notificacion);
                        setTimeout(function() {
                            notificacionesDiv.removeChild(notificacion);
                        }, 10000);
                    };
                    
                    var data = 'texto_opinion=' + nuevaOpinion + '&punto_id=' + puntoId + '&punto_tipo=' + puntoTipo;
                    xhr.send(data);
                });
            });
        });


        // Carga de aparcamientos
        var aparcamientos = {{ aparcamientos_para_mapa|safe }};
        aparcamientos.forEach(function (aparcamiento) {
            var latlng = [aparcamiento.latitud, aparcamiento.longitud];
            var blueMarker = L.ExtraMarkers.icon({
                icon: 'bi bi-p-square',
                markerColor: 'blue',
                shape: 'square',
                alt: aparcamiento.nombre,
            });
            var marker = L.marker(latlng, { icon: blueMarker });
            marker.bindPopup(aparcamiento.popup_content);
            aparcamientosGroup.addLayer(marker); 

            marker.on('popupopen', function () {
                var puntoId = aparcamiento.id;
                var opiniones = aparcamiento.opiniones;
                var opinionesHTML = '';
            
                // Construir el HTML de las opiniones con Bootstrap
                opinionesHTML = '<p class="h2">Opiniones:</p>';
                opinionesHTML += '<ul class="list-group">';
            
                if (opiniones.length > 0) {
                    opiniones.forEach(function (opinion) {
                        opinionesHTML += '<li class="list-group-item">' + opinion + '</li>';
                    });
                } else {
                    opinionesHTML += '<li class="list-group-item ">Aún no hay opiniones, ¡Añade una!</li>';
                }
                opinionesHTML += '</ul> </br>';

                opinionesHTML += '<div class="form-group">';
                opinionesHTML += '<label for="nueva-opinion" class="h2">Agregar Opinión:</label>';
                opinionesHTML += '<textarea id="nueva-opinion" class="form-control" rows="3" placeholder="Escribe tu opinión"></textarea>';
                opinionesHTML += '</div>';
                opinionesHTML += '<button id="enviar-opinion" class="btn btn-danger">Enviar</button>';
            
                
                var opinionesDiv = document.getElementById('opinionesDiv');
                opinionesDiv.innerHTML = opinionesHTML;

                var enviarOpinionBtn = document.getElementById('enviar-opinion');

                enviarOpinionBtn.addEventListener('click', function () {
                    var nuevaOpinion = document.getElementById('nueva-opinion').value;
                    var puntoId = aparcamiento.id;
                    var puntoTipo = 'aparcamiento'; 

                    // Realizar una solicitud POST al servidor para crear la opinión
                    var xhr = new XMLHttpRequest();
                    xhr.open('POST', '/procesar_opinion/', true); // Ajusta la URL según tu configuración
                    xhr.setRequestHeader('Content-Type', 'application/x-www-form-urlencoded');
                    xhr.onload = function () {
                        var notificacionesDiv = document.getElementById('notificaciones');
                        var notificacion = document.createElement('div');
                        notificacion.className = 'alert';
                        if (xhr.status === 200) {
                            var response = JSON.parse(xhr.responseText);
                            if (response.status === 'success') {
                                notificacion.className += ' alert-success';
                                notificacion.textContent = 'Opinión creada con éxito';
                            } else {
                                notificacion.className += ' alert-danger';
                                notificacion.textContent = 'Error al crear la opinión: ' + response.message;
                            }
                        } else {
                            notificacion.className += ' alert-danger';
                            notificacion.textContent = 'Error al crear la opinión: ' + response.message;
                        }
                        notificacionesDiv.appendChild(notificacion);
                        setTimeout(function() {
                            notificacionesDiv.removeChild(notificacion);
                        }, 10000);
                    };
                    
                    var data = 'texto_opinion=' + nuevaOpinion + '&punto_id=' + puntoId + '&punto_tipo=' + puntoTipo;
                    xhr.send(data);
                });
            });
        });

        // Función para obtener el token CSRF
        function getCookie(name) {
            var value = "; " + document.cookie;
            var parts = value.split("; " + name + "=");
            if (parts.length === 2) return parts.pop().split(";").shift();
        }
        

        // Actualizar la visibilidad de las capas según los checkboxes
        function actualizarVisibilidadCapas() {
            var mostrarPuntosDeInteres = document.getElementById('mostrarPuntosDeInteres').checked;
            var mostrarAparcamientos = document.getElementById('mostrarAparcamientos').checked;
            var mostrarPuntosDeUsuario = document.getElementById('mostrarPuntosDeUsuario').checked;

            if (mostrarPuntosDeInteres) {
                map.addLayer(puntosDeInteresGroup);
            } else {
                map.removeLayer(puntosDeInteresGroup);
            }

            if (mostrarAparcamientos) {
                map.addLayer(aparcamientosGroup);
            } else {
                map.removeLayer(aparcamientosGroup);
            }

            if (mostrarPuntosDeUsuario) {
                map.addLayer(puntosDeUsuarioGroup);
            } else {
                map.removeLayer(puntosDeUsuarioGroup);
            }
        }
        document.getElementById('mostrarPuntosDeInteres').addEventListener('change', actualizarVisibilidadCapas);
        document.getElementById('mostrarAparcamientos').addEventListener('change', actualizarVisibilidadCapas);
        document.getElementById('mostrarPuntosDeUsuario').addEventListener('change', actualizarVisibilidadCapas);
    // RUTA INICIAL    
        // Marcadores ruta inicial
        var startPoint = L.latLng(37.392169784504084, -6.003630160927381);
        var endPoint = L.latLng(37.3773292049943, -5.986954013988135);
        var startIcon = L.ExtraMarkers.icon({
            icon: 'bi bi-flag-fill',
            markerColor: 'black',
            shape: 'circle'
        });
        var endIcon = L.ExtraMarkers.icon({
            icon: 'bi bi-flag',
            markerColor: 'black',
            shape: 'circle'
        });

        var startMarker = L.marker(startPoint, { draggable: true, icon: startIcon }).addTo(map);
        var endMarker = L.marker(endPoint, { draggable: true, icon: endIcon }).addTo(map);
        startMarker.on('dragend', function (e) {
            startPoint = e.target.getLatLng();
            calcularRuta();
        });
        endMarker.on('dragend', function (e) {
            endPoint = e.target.getLatLng();
            calcularRuta();
        });
        startMarker.bindPopup('Origen');
        endMarker.bindPopup('Destino');
        var markersLayer = L.layerGroup([startMarker, endMarker]);
        markersLayer.addTo(map);

    // LÓGICA CALCULAR RUTA    
        // Calcular y representar ruta (funcion principal)
        // 2 ramas, caso coche a menos de 500m de aparcamiento o cualquier otro.
        var routeInstructions = document.getElementById('route-instructions');
        calcularRuta();
        function calcularRuta() {
            if (rutaLayer) {
                map.removeLayer(rutaLayer);
            }
            rutaLayer = L.layerGroup().addTo(map);
            
            var modoTransporte = document.getElementById('modo-transporte').value;
            var origen = L.latLng(startPoint.lat, startPoint.lng);
            var destino = L.latLng(endPoint.lat, endPoint.lng);
            var aparcamientoCercano = encontrarAparcamientoCercano(destino);

            if (modoTransporte === 'car' && aparcamientoCercano.distancia <= 500) {
                
                var origenAparcamiento = startPoint.lat + ',' + startPoint.lng;
                var aparcamientoDestino = aparcamientoCercano.latitud + ',' + aparcamientoCercano.longitud;
                // 1a ruta en coche
                var apiUrlCar = 'https://graphhopper.com/api/1/route?key='+apiKey +
                    '&point=' + origenAparcamiento +
                    '&point=' + aparcamientoDestino +
                    '&vehicle=car' +
                    '&locale=es' +
                    '&points_encoded=false'+
                    '&instructions=true'+
                    '&avoid=stairs';

                axios.get(apiUrlCar)
                    .then(function (response) {
                        var coordenadasCar = procesarRuta(response);
                        dibujarRuta(coordenadasCar, rutaLayer);
                        
                        var ruta = response.data.paths[0];
                        var distancia = ruta.distance.toFixed(2);
                        var nivel = ruta.ascend.toFixed(2);
                        var desnivel = ruta.descend.toFixed(2);
                        var infoHTML = '<br><p> <strong>Distancia en coche:</strong> ' + distancia + ' metros</p>';

                        var coordenadas = procesarRuta(response);
                        dibujarRuta(coordenadas, rutaLayer);
                        var instructions = ruta.instructions;
                        var instructionsHTML = '<p class="h2">Ruta en coche:</p><ol>';
                        for (var i = 0; i < instructions.length; i++) {
                            var instruction = instructions[i];
                            var distance = instruction.distance;
                            var sign = instruction.sign;
                            var text = instruction.text;
                            instructionsHTML += '<li>' + text + ' (' + distance + ' metros)</li>';
                        }
                        instructionsHTML += '</ol>';
                        routeInstructions.innerHTML = infoHTML + instructionsHTML;
                        })
                    .catch(function (error) {
                        console.error('Error en la solicitud de GraphHopper para coche: ' + error);
                    });
                
                // Segunda ruta 
                var apiUrlWalk = 'https://graphhopper.com/api/1/route?key='+apiKey +
                    '&point=' + aparcamientoDestino +
                    '&point=' + endPoint.lat+','+endPoint.lng +
                    '&vehicle=bike' +
                    '&locale=es' +
                    '&points_encoded=false'+
                    '&instructions=true'+
                    '&avoid=stairs';
        
                axios.get(apiUrlWalk)
                    .then(function (response) {
                        var coordenadasWalk = procesarRuta(response);
                        dibujarRutaRed(coordenadasWalk, rutaLayer);

                        var ruta = response.data.paths[0];
                        var distancia = ruta.distance.toFixed(2);
                        var nivel = ruta.ascend.toFixed(2);
                        var desnivel = ruta.descend.toFixed(2);
                        var infoHTML = '<p> <strong>Distancia restante:</strong> ' + distancia + ' metros</p>';
                        infoHTML += '<p><strong>Nivel de Ascenso:</strong> ' + nivel + ' metros</p>';
                        infoHTML += '<p><strong>Desnivel:</strong> ' + desnivel + ' metros</p>';
                        
                        var instructions = ruta.instructions;
                        var instructionsHTML = '<p class="h2">Direcciones a pie:</p><ol>';
                        for (var i = 0; i < instructions.length; i++) {
                            var instruction = instructions[i];
                            var distance = instruction.distance;
                            var sign = instruction.sign;
                            var text = instruction.text;
                            instructionsHTML += '<li>' + text + ' (' + distance + ' metros)</li>';
                        }
                        instructionsHTML += '</ol>';
                        routeInstructions.innerHTML += infoHTML + instructionsHTML;
                        })
                    .catch(function (error) {
                        console.error('Error en la solicitud de GraphHopper para caminar: ' + error);
                    });
            } else {
                // Calcular una sola ruta de manera normal
                var apiUrl = 'https://graphhopper.com/api/1/route?key='+apiKey +
                    '&point=' + startPoint.lat+','+startPoint.lng +
                    '&point=' + endPoint.lat+','+endPoint.lng +
                    '&vehicle=' + modoTransporte +
                    '&locale=es' +
                    '&points_encoded=false'+
                    '&instructions=true'+
                    '&avoid=stairs';
        
                axios.get(apiUrl)
                    .then(function (response) {
                        var ruta = response.data.paths[0];
                        var distancia = ruta.distance.toFixed(2);
                        var nivel = ruta.ascend.toFixed(2);
                        var desnivel = ruta.descend.toFixed(2);
                        var infoHTML = '<br><p> <strong>Distancia total:</strong> ' + distancia + ' metros</p>';
                        infoHTML += '<p><strong>Nivel de Ascenso:</strong> ' + nivel + ' metros</p>';
                        infoHTML += '<p><strong>Desnivel:</strong> ' + desnivel + ' metros</p>';
                        
                        var coordenadas = procesarRuta(response);
                        dibujarRuta(coordenadas, rutaLayer);
                        var instructions = ruta.instructions;
                        var instructionsHTML = '<p class="h2">Direcciones:</p><ol>';
                        for (var i = 0; i < instructions.length; i++) {
                            var instruction = instructions[i];
                            var distance = instruction.distance;
                            var sign = instruction.sign;
                            var text = instruction.text;
                            instructionsHTML += '<li>' + text + ' (' + distance + ' metros)</li>';
                        }
                        instructionsHTML += '</ol>';
                        routeInstructions.innerHTML = infoHTML + instructionsHTML;
                        })
                    .catch(function (error) {
                        console.error('Error en la solicitud de GraphHopper: ' + error);
                    });
            }
        }
        
        // Uso en calcular ruta, se busca el aparcamiento más cercano y la distancia del destino
        function encontrarAparcamientoCercano(destino) {
            var aparcamientos = {{ aparcamientos_para_mapa|safe }};
            var distanciaMinima = Number.MAX_VALUE;
            var aparcamientoCercano = null;
        
            aparcamientos.forEach(function (aparcamiento) {
                // Verificar si las coordenadas del aparcamiento son válidas
                if (aparcamiento.latitud !== undefined && aparcamiento.longitud !== undefined) {
                    var latlngAparcamiento = L.latLng(aparcamiento.latitud, aparcamiento.longitud);
        
                    // Verificar si latlngAparcamiento es válido y no es null
                    if (latlngAparcamiento && latlngAparcamiento.lat !== undefined && latlngAparcamiento.lng !== undefined) {
                        
                        // Verificar que destino sea válido antes de calcular la distancia
                        if (destino) {
                            var distancia = latlngAparcamiento.distanceTo(destino);
                            
                            if (distancia < distanciaMinima) {
                                distanciaMinima = distancia;
                                aparcamientoCercano = aparcamiento;
                            }
                        }
                    }
                }
            });
            aparcamientoCercano.distancia = distanciaMinima;
            return aparcamientoCercano;
        }
        // Parseo ruta para poder representarla en Leaflet
        function procesarRuta(response) {
            var ruta = response.data.paths[0];
            var coordenadasRuta = ruta.points.coordinates;
            var coordenadas = [];
            for (var i = 0; i < coordenadasRuta.length; i++) {
                var latitud = coordenadasRuta[i][1];
                var longitud = coordenadasRuta[i][0];
                coordenadas.push(L.latLng(latitud, longitud));
            }
            return coordenadas;
        }
        function dibujarRuta(coordenadas, layer) {
            var rutaPolyline = L.polyline(coordenadas, { color: 'blue' }).addTo(layer);
            map.fitBounds(rutaPolyline.getBounds());
        }
        function dibujarRutaRed(coordenadas, layer) {
            var rutaPolyline = L.polyline(coordenadas, { color: 'red' }).addTo(layer);
            map.fitBounds(rutaPolyline.getBounds());
        }
        
        function eliminarRutaAntigua(layer) {
            layer.clearLayers();
        } 
    //CONTEXT MENU           
        // Cancelar click derecho en el mapa y dar opciones personalizadas
        map.on('contextmenu', function (e) {
            var contextMenu = L.popup()
                .setLatLng(e.latlng)
                .setContent('<h3>Seleccione:</h3>' +
                    '<button class="btn btn-danger btn-sm" onclick="setInicio(' + e.latlng.lat + ',' + e.latlng.lng + ')">Establecer inicio</button> </br>' +
                    '<button class="btn btn-secondary btn-sm" onclick="setFinal(' + e.latlng.lat + ',' + e.latlng.lng + ')">Establecer final</button> </br></br>' +
                    '<button class="btn btn-primary btn-sm" onclick="buscarEnRadio(' + e.latlng.lat + ',' + e.latlng.lng + ')">Buscar en 100m</button></br>'+
                    '<a  href="/nuevo_punto?latitud=' + e.latlng.lat + '&longitud=' + e.latlng.lng + '"><button class="btn btn-success btn-sm"> Nuevo Punto </button></a></br>')
                .openOn(map);
        });
        // Mover marcador de inicio y recalcular ruta
        function setInicio(lat, lng) {

            startPoint = L.latLng(lat, lng);
            startMarker.setLatLng(startPoint);
            eliminarRutaAntigua(rutaLayer);
            calcularRuta();
            map.closePopup();
        }
        // Mover marcador de final y recalcular ruta
        function setFinal(lat, lng) {
            endPoint = L.latLng(lat, lng);
            endMarker.setLatLng(endPoint);
            eliminarRutaAntigua(rutaLayer);
            calcularRuta();
            map.closePopup();
        }
    // BUSCAR EN RADIO    
        // Buscar nodos en radio cercano
        var circle;
        var markers = [];
        function buscarEnRadio(lat, lng) {
            if (circle) {
                map.removeLayer(circle);
            }
            markers.forEach(function (marker) {
                map.removeLayer(marker);
            });
            markers = [];
            var radius = 100;
            circle = L.circle([lat, lng], {
                color: 'blue',
                fillColor: 'blue',
                fillOpacity: 0.2,
                radius: radius
            }).addTo(map);
            var overpassQuery = `
                [out:json];
                node(around:${radius},${lat},${lng})["amenity"];
                out;
            `;
            axios.post('https://overpass-api.de/api/interpreter', overpassQuery)
                .then(function (response) {
                    var data = response.data;
                    var nodes = data.elements;
                    nodes.forEach(function (node) {
                        var nodeLat = node.lat;
                        var nodeLng = node.lon;
                        var marker = L.marker([nodeLat, nodeLng]).addTo(map);
                        var popupContent = '<h3> ' + node.tags.amenity + '</h3>';
                        for (var key in node.tags) {
                            popupContent += '<p><strong>' + key + ':</strong> ' + node.tags[key] + '</p>';
                        }
                        marker.bindPopup(popupContent);
                        markers.push(marker);
                    });
                })
                .catch(function (error) {
                    console.error('Error en la consulta Overpass Turbo: ' + error);
                });
        }
    // UBICACION
        // Obtener ubicacion del usuario y representarla
        var ubicacionBtn = document.getElementById('ubicacion-btn');
        ubicacionBtn.addEventListener('click', function () {
            if ("geolocation" in navigator) {
                navigator.geolocation.getCurrentPosition(function (position) {
                    var userLat = position.coords.latitude;
                    var userLng = position.coords.longitude;
                    var customIcon = L.ExtraMarkers.icon({
                        icon: 'bi bi-person-arms-up',
                        markerColor: 'purple',
                        shape: 'star'
                    });
                    var userLocationMarker = L.marker([userLat, userLng], {icon:customIcon}).addTo(map);
                    userLocationMarker.bindPopup("Tu ubicación actual").openPopup();
                    map.setView([userLat, userLng], 16);
                }, function (error) {
                    console.error('Error al obtener la ubicación: ' + error.message);
                });
            } else {
                alert("Tu navegador no admite la geolocalización.");
            }
        });
        document.getElementById('modo-transporte').addEventListener('change', function () {
            routeInstructions.innerHTML = '';
            calcularRuta();
        });

        // Función para realizar una búsqueda de lugar usando GraphHopper Geocoding
        async function buscarLugar(query, inputId) {
            const url = `https://graphhopper.com/api/1/geocode?limit=5&q=${encodeURIComponent(query)}&key=`+ apiKey;

            try {
                const response = await fetch(url);
                const data = await response.json();
                const suggestionsContainer = document.getElementById(inputId + '-suggestions');
                suggestionsContainer.innerHTML = '';

                if (data.hits && data.hits.length > 0) {
                    data.hits.forEach((hit) => {
                        const suggestionItem = document.createElement('div');
                        suggestionItem.textContent = `${hit.name} (${hit.city}, ${hit.country})`;
                        suggestionItem.classList.add('suggestion-item');
                        suggestionItem.addEventListener('click', () => {
                            const inputElement = document.getElementById(inputId);
                            inputElement.value = hit.name; 
                            suggestionsContainer.innerHTML = '';

                            // Actualiza las coordenadas de los marcadores
                            if (inputId === 'origen') {
                                setInicio(hit.point.lat, hit.point.lng); 
                            } else if (inputId === 'destino') {
                                setFinal(hit.point.lat, hit.point.lng); 
                            }
                        });
                        suggestionsContainer.appendChild(suggestionItem);
                    });
                } else {
                    suggestionsContainer.innerHTML = '<div class="no-suggestions">No hay sugerencias disponibles.</div>';
                }
            } catch (error) {
                console.error('Error en la búsqueda de lugar: ' + error);
            }
        }



        // Evento de entrada de texto para el input de origen
        document.getElementById('origen').addEventListener('input', function () {
            const query = this.value;
            buscarLugar(query, 'origen');
        });

        // Evento de entrada de texto para el input de destino
        document.getElementById('destino').addEventListener('input', function () {
            const query = this.value;
            buscarLugar(query, 'destino');
        });

        window.onload = function() {
            // Obtén el botón por su ID
            var button = document.getElementById("toggle-left-panel");
            var leafletControl = document.querySelector(".leaflet-control-zoom");
            
            if (button) {
                var icon = document.createElement("svg");
                icon.setAttribute("xmlns", "http://www.w3.org/2000/svg");
                icon.setAttribute("fill", "black");
                icon.setAttribute("class", "bi bi-box-arrow-in-left");
                icon.setAttribute("viewBox", "0 0 16 16");
                icon.setAttribute("width", "32");
                icon.setAttribute("height", "32");
            
                button.style.width = "32px"; 
                button.style.height = "32px";
                button.style.position = "absolute";
                button.style.top = "100px"; 
                button.style.left = "0";
                button.style.zIndex = "1000"; 
                leafletControl.appendChild(button);
                button.appendChild(icon);
            }
        };
        

    // MOSTRAR/OCULTAR
        // Mostrar/ocultar instrucciones de ruta
        function toggleInstructions() {
            var instructionsContainer = document.getElementById('instructions-container');
            if (instructionsContainer.style.display === 'none') {
                instructionsContainer.style.display = 'block';
            } else {
                instructionsContainer.style.display = 'none';
            }
        }
        
        var toggleInstructionsButton = document.getElementById('toggle-instructions');
        toggleInstructionsButton.addEventListener('click', toggleInstructions);

        var toggleLeftPanelButton = document.getElementById('toggle-left-panel');
        toggleLeftPanelButton.addEventListener('click', toggleLeftPanel)
        // Mostrar/ocultar instrucciones de ruta
        function toggleLeftPanel() {
            var leftPanel = document.getElementById('div-izquierdo');
            var rightPanel = document.getElementById('map');
            if (leftPanel.style.display === 'none') {
                leftPanel.style.display = 'block';
            } else {
                leftPanel.style.display = 'none';
                leftPanel.style.display = 'height: 1800px';
            }
        }
        ;


</script>  
{% endblock %}
