{% extends 'base.html' %}

{% block body %}
<div class="container">
    <div class="row justify-content-center mt-5">
        <div class="col-md-6">
            <div class="card">
                <div class="card-header">Registro</div>
                <div class="card-body">
                    <form method="post">
                        {% csrf_token %}
                        {{ form.as_p }}
                        <button type="submit" class="btn btn-danger">Registrarse</button>
                    </form>
                </div>
            </div>
            <div class="mt-3 text-center">
                ¡Recuerda que al registrarte aceptas nuestra <a href="{% url 'gdpr' %}">política de privacidad</a>!
            </div>
            <div class="mt-3 text-center">
                ¿Ya tienes una cuenta? <a href="{% url 'inicio_sesion' %}">Iniciar sesión</a>
            </div>
        </div>
    </div>
</div>
{% endblock %}
