{% load static %}
{% load pwa %}

<!DOCTYPE html>
<html lang="es">
<head>
    <title>Sevidis</title>
    {% block scripts %}
    <!-- Local -->
    <meta name="viewport" content="width=device-width, initial-scale=1">
    {% progressive_web_app_meta %}
    <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.0.2/dist/css/bootstrap.min.css" rel="stylesheet" integrity="sha384-EVSTQN3/azprG1Anm3QDgpJLIm9Nao0Yz1ztcQTwFspd3yD65VohhpuuCOmLASjC" crossorigin="anonymous">
    <script src="https://cdn.jsdelivr.net/npm/bootstrap@5.0.2/dist/js/bootstrap.bundle.min.js" integrity="sha384-MrcW6ZMFYlzcLA8Nl+NtUVF0sA7MsXsP1UyJoMp4YLEuNSfAP+JcXn/tWtIaxVXM" crossorigin="anonymous"></script>
    <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
    <link href="https://fonts.googleapis.com/css2?family=Lato:wght@400;700&display=swap" rel="stylesheet">
    <link rel="stylesheet" href="{% static 'css/base_mapa.css' %}" />
    <link rel="shortcut icon" href="{% static '/images/favicon.png' %}">
    <!-- Leaflet-->
    <link rel="stylesheet" href="https://unpkg.com/leaflet@1.7.1/dist/leaflet.css" />
    <script src="https://unpkg.com/leaflet@1.7.1/dist/leaflet.js"></script>
    <!-- Routing-->
    <script src="https://cdnjs.cloudflare.com/ajax/libs/leaflet-routing-machine/3.2.12/leaflet-routing-machine.js"></script>
    <link rel="stylesheet" href="https://unpkg.com/leaflet-control-geocoder/dist/Control.Geocoder.css" />
    <link rel="stylesheet" href="https://unpkg.com/leaflet-routing-machine@latest/dist/leaflet-routing-machine.css" />
    <script src="https://unpkg.com/leaflet-routing-machine/dist/leaflet-routing-machine.js"></script>
    <!-- Geocoder-->
    <script src="https://unpkg.com/leaflet-control-geocoder/dist/Control.Geocoder.js"></script>
    <!-- Axios (peticiones javascript)-->
    <script src="https://cdn.jsdelivr.net/npm/axios/dist/axios.min.js"></script>
    <!-- iconos-->
    <link rel="stylesheet" href="{% static 'css/leaflet.extra-markers.min.css' %}">
    <script src="{% static 'js/leaflet.extra-markers.min.js' %}"></script>
    <link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/bootstrap-icons@1.11.1/font/bootstrap-icons.css">
    <script src="https://code.responsivevoice.org/responsivevoice.js?key=Wrilessf"></script>
    
    </script>
    {% endblock scripts %}


    
</head>

<body>
    <!-- Navegacion-->
    <nav class="navbar navbar-expand-xxl navbar-light bg-light">
        <div class="container-fluid">

            <!-- Logotipo y botón de desplegar -->
            <div class="d-flex justify-content-between align-items-center w-100 navbar-header">
                <a alt="Logo de la web, sirve para ir al inicio" title="Logo de la web"class="navbar-brand" href="/">
                    <div id="sevidis-text">
                        SeviDis
                    </div>
                </a>

                {% if user.is_authenticated %}
                  <!-- Elementos de la barra de navegación para usuarios no autenticados -->
                  <button class="navbar-toggler" type="button" data-bs-toggle="collapse" data-bs-target="#navbar-buttons" aria-controls="navbar-buttons" aria-expanded="false" aria-label="Toggle navigation">
                    <span class="navbar-toggler-icon"></span>
                </button>
                </div>
        
                <!-- Elementos de la barra de navegación -->
                <div class="collapse navbar-collapse" id="navbar-buttons">
                  <ul class="navbar-nav ml-auto">
                      <li class="nav-item">
                          <a class="nav-link ">¡Hola, {{ user.first_name }}!</a>
                      </li>
                      <li class="nav-item">
                        <a class="nav-link" alt="Cerrar sesión" title="Cerrar sesión" href="/logout">Cerrar sesión</a>
                      </li>
                      
                  </ul>     

                    
          
                {% else %}
                    <!-- Elementos de la barra de navegación para usuarios no autenticados -->
                    <button class="navbar-toggler" type="button" data-bs-toggle="collapse" data-bs-target="#navbar-buttons" aria-controls="navbar-buttons" aria-expanded="false" aria-label="Toggle navigation">
                      <span class="navbar-toggler-icon"></span>
                  </button>
                  </div>
          
                  <!-- Elementos de la barra de navegación -->
                  <div class="collapse navbar-collapse" id="navbar-buttons">
                    <ul class="navbar-nav ml-auto">
                        <li alt="Ir al principio" title="Ir al panel de información" class="nav-item">
                            <a class="nav-link"  href="/informacion">Información</a>
                        </li>
                        <li alt="Iniciar sesion" title="Iniciar sesion" class="nav-item">
                            <a class="nav-link " href="/inicio_sesion">Inicio de sesión</a>
                        </li>
                        <li alt="Registrarse" title="Registrarse" class="nav-item">
                            <a class="nav-link" href="/registro">Registro</a>
                        </li>
                    </ul>     
                {% endif %}
            </div>
        </div>
    </nav>

    <main>{% block body %}{% endblock %}</main>
</body>

<script>
    responsiveVoice.setDefaultVoice("Spanish Female");

</script>
</html>
